/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

h1, h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

/* Estilo da Capa */
.capa {
  text-align: center;
  padding: 50px;
  background-color: #2c3e50;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.capa h1 {
  font-size: 36px;
}

.capa p {
  font-size: 18px;
  margin-bottom: 30px;
}

.capa button {
  font-size: 18px;
  padding: 15px 30px;
  background-color: #e67e22;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.capa button:hover {
  background-color: #d35400;
  transform: translateY(-3px);
}

/* Seção de Relatórios */
.relatorio-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.relatorio-section h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #2c3e50;
}

.relatorio {
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.relatorio:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.relatorio a {
  text-decoration: none;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o botão de ver */
.btn-view {
  background-color: #3498db;
  color: white;
}

.btn-view:hover {
  background-color: #2980b9;
}

/* Estilo para o botão de download */
.btn-download {
  background-color: #e67e22;
  color: white;
}

.btn-download:hover {
  background-color: #d35400;
}

@media (max-width: 768px) {
  .relatorio-section {
    padding: 20px;
  }

  .relatorio {
    padding: 15px;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
